
.my-page-container {
  width: 828px;
  margin: auto;
}

header {
  width: 100%;
}

.header {
  line-height: 100px;
  color: #fff;
  background: #fff;
  margin-left: 50px; 
  height: 60px;
  z-index: 1;
} 

.header-name {
  font-family: "Georgia", "Times", "Times New Roman", "Serif";
  background-color: #4aaaa5;
  padding-left: 25px;
  padding-right: 25px;
  float: left;
  font-size: 28pt;
  color: white;
  height: 100%;
  line-height: 150%;
}
.nav-option {
  float: right;
  margin-top:20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Arial", "Helvetica Neue", "Helvetica", "Sans-serif";
  background-color: white;
  color: gray;
  text-decoration: none;
  border-right:solid 1px lightgray;
  height: 30%;
  line-height: 100%;
}
.my-body-container {
  color: rgb(14, 29, 23);
  position: relative;
  clear: both;
  height: 80%;
  /* height: 600px; */
  background-color: lightslategray;
  float: left;
  width: 100%;
  overflow: auto;
  background-image: url(../images/abstract-q-c-627-480-3.jpg); 
}
.AboutMe-container {
  color: rgb(14, 29, 23);
  position: relative;
  clear: both;
  height: auto;
  /* height: 600px; */
  background-color: lightslategray;
  float: left;
  width: 100%;
  overflow: auto;
  background-image: url(../images/abstract-q-c-627-480-3.jpg); 
}
.AboutMe-content-header-section {
  color: #4aaaa5;
  font-family: "Georgia", "Times", "Times New Roman", "Serif";
  font-size: 10pt;
  position: relative;
  border-bottom: 5px solid gray;
  line-height: 50px;
  margin-top: 10px;
  margin-left: 5%;
  height: 10%;
  width: 90%;
}
.AboutMe-content-section {
  font-family: "Arial", "Helvetica Neue", "Helvetica", "Sans-serif";
  position: relative;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  /* height: 80%; */
  height: 90%;
  width: auto;
  overflow: auto;
  /* width: 960px; */
}
.AboutMe-content-paragraphs {
  font-family: "Arial", "Helvetica Neue", "Helvetica", "Sans-serif";
  position: relative;
  background-color: #ffffff;
  margin-top: 10px;
  margin-left: 5%;
  /* height: 60%; */
  width: 90%;
  height: auto;
}

.portfolio-section {
  margin-left: 5%;
  margin-top: 2%;
}
.portfolio-images {
  float: left;
  width: 31%;
  height: auto;
  margin-right: 2%;
  margin-bottom: 2%;
}
textarea {
  width: 80%;
  height: 50%;
}
#contact-submit-button {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18pt;
  color: white;
  background-color: #4aaaa5;
  padding: 5px 20px 5px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
footer {
    border-top: 5px solid #4aaaa5;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    clear: both;
    color: #fff;
    background: #666666;
    }
#AboutMe-header {
  line-height: 50px;
}
#bio-image {
  float: left;
  width: 25%;
  margin-right: 20px;
 }

.my-body-container-interior {
  position: relative;
  background-color: white;
  width: 60%;
  margin-left: 50px;
}
.my-body-container-header {
  position: relative;
  color: #4aaaa5;
  background-color: white;
  width: 90%;
  margin: auto;
  border-bottom: 5px solid #cccccc;
}
.my-body-container-content {
    padding-bottom: 20px;
    background-color: white;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "Sans-serif";
    position: relative;
    background-color: #ffffff;
    width: 90%;
    height: auto;
    margin: auto;
}
.my-contact-form-container {
  position: relative;
  background-color: #ffffff;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 10%;
  height: auto;
  font-family: "Arial", "Helvetica Neue", "Helvetica", "Sans-serif";
}
.my-portfolio-container {
  padding: 20px;
  background-color: white;
  font-family: "Arial", "Helvetica Neue", "Helvetica", "Sans-serif";
  position: relative;
  background-color: #ffffff;
  width: 90%;
  height: 60%;
  margin: auto;
}
.my-nav-class {
  /* margin: 0; */
  background-color: white;
  width: 100%;
  text-align: right;
}
.my-spacer {
  float: right;
  width: 20%;
  background-color: yellow;
}
@media screen and (max-width: 980px) {
  /* The body's bg color will be #333 */
  body {
    background-color: white;
  }
  .my-page-container {
    width: 828px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
  body {
    background-color:white;
  }
  .my-page-container {
    width: 600px;
    margin: auto;
  }
  .header {
    line-height: 100px;
    color: #fff;
    background: #fff;
    margin: 0px;
    height: 60px;
    z-index: 1;
    width: 100%;
  } 
  .my-body-container-interior {
    position: relative;
    background-color: white;
    width: 95%;
    margin: auto;
  }
}

@media screen and (max-width: 640px) {
  body {
    background-color: white;

  }

  /* The wrapper's width will be 600px */
  .my-page-container {
    width: 400px;
    margin: auto;
  }
  header {
    position: static;
  }
  .header {
    position: relative;
    line-height: 100px;
    color: #fff;
    background: #fff;
    margin: 0px;
    height: 60px;
    z-index: 1;
    width: 100%;
    background-color: #4aaaa5;
    text-align: center;
  } 
  .header-name {
    /* width: 90%; */
    float: left;
    margin: 0px;
    width: auto;
    text-align: center;
  }
  .my-nav-class {
    float: left;
    /* margin: 0; */
    background-color: white;
    width: 100%;
    text-align: left;
  }
  .nav-option {
    padding-bottom: 10px;
  }
}